body{
margin:0;
font-family:Arial;
background:#0f0f14;
color:white;
}

header{
background:#181822;
padding:15px;
text-align:center;
}

nav button{
margin:5px;
padding:10px 18px;
border:none;
background:#ff2e88;
color:white;
border-radius:20px;
cursor:pointer;
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fill,minmax(180px,1fr));
gap:20px;
padding:20px;
}

.card{
background:#1c1c28;
border-radius:15px;
overflow:hidden;
cursor:pointer;
transition:.3s;
}

.card:hover{
transform:scale(1.05);
}

.card img{
width:100%;
height:160px;
object-fit:cover;
}

.card h4{
margin:10px;
}

.secao{
display:none;
}

.ativa{
display:block;
}

.player{
position:fixed;
bottom:0;
width:100%;
background:#181822;
display:flex;
align-items:center;
gap:15px;
padding:10px;
}

.player img{
width:70px;
height:70px;
border-radius:10px;
object-fit:cover;
}

.controls button{
background:#ff2e88;
border:none;
color:white;
padding:10px;
margin:5px;
border-radius:50%;
cursor:pointer;
}

#progress{
width:200px;
}

.playlist-controls{
padding:20px;
}